@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 15px;
  font-family: 'Montserrat', Helvetica Neue, sans-serif !important;
}

h1 {
  font: 4rem/5rem 'Playfair Display', serif;
}

h2 {
  font: 3rem/4rem 'Playfair Display', serif;
}

h3 {
  font: 2.5rem/3.5rem 'Playfair Display', serif;
}

h4 {
  font: 1.3rem/2.5rem 'Playfair Display', serif;
}

p {
  font: 400 1rem/2rem 'Playfair Display', serif;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0 !important;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.app-body {
  height: calc(100vh - 140px);
  margin-top: 80px;
  overflow-y: auto;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.github-link {
  font-size: 24px;
  color: theme('colors.white');
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.tooltip {
  .tooltipText {
    position: absolute;
    right: 20px;
    bottom: 30px;
    visibility: hidden;
    width: 120px;
    background-color: theme('colors.gray.800');
    color: theme('colors.white');
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    z-index: 1;
    transform: translateY(-75%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  // Show the tooltip text on hover
  &:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  font-size: 1.1rem;
  &:disabled {
    background: theme('colors.gray.400');
    color: theme('colors.gray.500');
    cursor: default;
    &:hover {
      background: theme('colors.gray.400');
      color: theme('colors.gray.500');
      cursor: default;
    };
  }
}

.btn-primary {
  background: theme('colors.blue.950');
  color: theme('colors.white');

  &:hover {
    background: theme('colors.blue.800');
  }
}

.cesium-map-container {
  padding: 10px 20px;
  width: calc(100% - 40px);
  height: 100%;
  .cesium-container {
    width: 100%;
    height: 100%;
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.cesium-viewer, .cesium-viewer-cesiumWidgetContainer, .cesium-widget {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 180px);
}

app-cesium-map {
  width: 100%;
}

app-google-chart-map {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.city-details-container {
  position: relative; /* Required to respect z-index */
  z-index: 1; /* Ensures it sits above the map */
}


.google-chart-map {
  position: fixed; /* Sticks it to the viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Covers the full viewport */
  z-index: 0; /* Place it behind other elements but above default backgrounds */
}


