<div class="tw-grid tw-gap-5 tw-grid-cols-1 md:tw-grid-cols-2 tw-w-full" *ngIf="city && cityData">
  <!-- *** COLUMN 1 *** -->
  <div class="tw-flex tw-flex-col tw-justify-items-start tw-items-start">
    <div class="tw-flex tw-gap-5 tw-p-5">
      <h1>{{ city.name }}</h1>
    </div>

    <div class="tw-flex tw-flex-col tw-gap-3 tw-p-5">
      <h4>
        <span class="tw-inline-block tw-w-[200px]">Country:</span>
        <span class="tw-inline-block tw-mr-5">{{ city.country }}</span>
        <span class="tw-inline-block tw-bg-slate-200 tw-rounded">{{ cityData.country.code }}</span>
      </h4>
      <h4>
        <span class="tw-inline-block tw-w-[200px]">Region:</span>
        <span>{{ city.region }}</span>
      </h4>
      <h4>
        <span class="tw-inline-block tw-w-[200px]">Population:</span>
        <span>{{ cityData.population | number }}</span>
      </h4>
      <h4>
        <span class="tw-inline-block tw-w-[200px]">Currency:</span>
        <span class="tw-inline-block tw-mr-5">{{ cityData.currency.name }}</span>
        <span class="tw-inline-block tw-bg-slate-200 tw-rounded">{{ cityData.currency.code }}</span>
      </h4>

      <div class="tw-flex tw-flex-col tw-mt-3" *ngIf="wikiData">
        <p>{{ wikiData }}</p>
      </div>
    </div>
  </div>

  <!-- *** COLUMN 2 *** -->
  <div class="tw-flex tw-flex-col tw-justify-items-start tw-items-start">
<!--    <div class="cesium-map-container tw-flex tw-flex-auto">-->
<!--      <app-cesium-map [coordinates]="coordinates" *ngIf="coordinates"></app-cesium-map>-->
<!--    </div>-->

    <div class="google-chart-map tw-w-full">
      <app-google-chart-map [cityData]="cityData"></app-google-chart-map>
    </div>
  </div>
</div>

<!--<div class="tw-grid tw-gap-5 tw-grid-cols-1 tw-w-full tw-justify-center tw-items-center" *ngIf="!cityData && errorMessage">-->
<div class="tw-flex tw-justify-center tw-items-center tw-text-center tw-h-full tw-w-full" *ngIf="!cityData && errorMessage">
  <div class="tw-flex tw-justify-center tw-items-center tw-text-center tw-w-[95%] lg:tw-w-[60%] tw-p-5">
    <h2>{{errorMessage}}</h2>
  </div>
</div>
